document.write('
   
    
    
        
                
                    <a class="fa fa-facebook" href="https://www.facebook.com/" target="_blank"></a>
                    <a class="fa fa-instagram" href="https://www.instagram.com/" target="_blank"></a>
                    <a class="fa fa-twitter" href="https://www.twitter.com/" target="_blank"></a>
               
                <p class="copyright">© Copyright 2020-21 : S K Mobiles</p>
           
    
');